.footer {
  margin-top: 60px;
  background: var(--primary-bg);
  padding: 60px 0 0 0;
}

.link:hover {
  text-decoration: underline;
}

.title {
  margin-bottom: 15px;
}

.logo {
  width: auto;
  height: auto;
}

.icon {}

.footer_copyright_wrapper {
  background: var(--footer-copiright-bg);
  padding: 20px;
  margin-top: 60px;
}

.footer_copyright_text {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .logo {
    width: 300px;
    height: 200px;
  }
  .icon {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 970px) {
  .logo {
    width: 240px;
    height: 150px;
  }
  .icon {
    width: 60px;
    height: 60px;
  }
}
