.title {
  font: var(--font-l);
}

.text {
  font: var(--font-m);
}

.size_xs {
  .title {
    font: var(--font-s);
    font-family: var(--font-family-title);
  }

  .text {
    font: var(--font-xs);
  }
}

.size_s {
  .title {
    font: var(--font-s);
    font-family: var(--font-family-title);
  }

  .text {
    font: var(--font-xs);
  }
}

.size_m {
  .title {
    font: var(--font-m);
    font-family: var(--font-family-title);
  }

  .text {
    font: var(--font-s);
  }
}

.size_l {
  .title {
    font: var(--font-l);
    font-family: var(--font-family-title);
  }

  .text {
    font: var(--font-m);
  }
}

.size_xl {
  .title {
    font: var(--font-xl);
    font-family: var(--font-family-title);
  }

  .text {
    font: var(--font-l);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

@media (max-width: 1200px) {
  .size_m {
    .title {
      font: var(--font-s);
      font-family: var(--font-family-title);
    }

    .text {
      font: var(--font-xs);
    }
  }

  .size_l {
    .title {
      font: var(--font-m);
      font-family: var(--font-family-title);
    }

    .text {
      font: var(--font-s);
    }
  }


  .size_xl {
    .title {
      font: var(--font-l);
      font-family: var(--font-family-title);
    }

    .text {
      font: var(--font-m);
    }
  }
}

@media (max-width: 970px) {
  .size_m {
    .title {
      font: var(--font-s);
      font-family: var(--font-family-title);
    }

    .text {
      font: var(--font-xs);
    }
  }

  .size_l {
    .text {
      font: var(--font-s);
      font-family: var(--font-family-title);
    }
  }

}
