.inputWrapper {
  position: relative;
  width: 400px;
}

.input {
  border-radius: 10px;
  outline: none;
  padding: 5px 40px 5px 15px;
  border: none;
  width: 100%;
}

.icon {
  position: absolute;
  top: 10%;
  right: 0;
  font-size: 24px;
  padding: 5px;
}
