.header {
  background-image: var(--header-bg-image);
  background-position: center;
}

.logo {
  width: 90px;
  height: 90px;
}

.icon {
  color: #fff;
}

.menuIcon {
  font-size: 35px;
}

.tel:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .icon {
    font-size: 30px;
  }
}

@media (max-width: 970px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    background: var(--primary-bg);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

