.navBarLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--nav-link-bg);
  width: 110px;
  height: 110px;
  transition: background-color .1s linear;

  &:hover {
    background: var(--nav-link-btn-bg);
  }
}


.icon {
  color: #2F2F2F;
  font-size: 50px;
}

.text {
  color: #000;
  white-space: nowrap;
  margin-top: 5px;
}

.navBarLink.active {
  background: var(--nav-link-btn-bg);
}

@media (max-width: 1200px) {
  .icon {
    font-size: 30px;
  }
  .navBarLink {
    width: 80px;
    height: 80px;
  }
  .text {
    font-size: 14px;
  }
}
